.movies_page{
  display: flex;
}
.genres{
  background: aqua;
  width: 15%;
}
.movies{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 80%
}
.pages{
  background: greenyellow;
}
