<div class="movies_page">
  <div class="genres">
    <app-genre-badge></app-genre-badge>
  </div>
  <div class="movies">
    <app-movies-list-card *ngFor="let movie of movies" [movie]="movie"></app-movies-list-card>
  </div>
    <div>
      <button (click)="next()" *ngIf="page != 500">next page</button>
      <p *ngIf="!query">
        Current page: {{page}}
      </p>
      <p *ngIf="query">
        Current page: {{query}}
      </p>
      <button (click)="prev()" *ngIf="page != 1">prev page</button>


    </div>
</div>
