.movies_page{
  display: flex;
}
.genres{
  background: #4b4b4b;
  width: 10%;
  color: #00fd67;
}
.movies{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 80%
}
.pages{
  background: #4b4b4b;
  width: 10%;
  color: #00fd67;
}
